<p-dialog [header]="header + ' ' + (sellerData ? sellerData.label : '')" [(visible)]="displayModal" [modal]="true"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" (onHide)="onClose()">


    <p-table [value]="stockList" [dataKey]="'reference'">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-wrap">
                <span>Produtos em transferência</span>
            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Referência</th>
                <th>Descrição</th>
                <th>Qtd. <i class="fa-solid fa-pen-to-square"></i></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stockItem>
            <tr>
                <td>{{stockItem.product.reference}}</td>
                <td>{{stockItem.product.description}}</td>
                <td pEditableColumn style="cursor: pointer;">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber type="number" inputId="horizontal" spinnerMode="horizontal"
                                [showButtons]="true" buttonLayout="horizontal" decrementButtonClass="p-button-danger"
                                incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                                decrementButtonIcon="pi pi-minus" [(ngModel)]="stockItem.moveAmount" [min]="1"
                                [max]="stockItem.amount">
                            </p-inputNumber>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{stockItem.moveAmount}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
    </p-table>


    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" type="button" label="Cancelar" class="p-button-danger p-button-text"
            (click)="displayModal=false"></button>
        <button pButton pRipple icon="pi pi-check" type="button" label="Confirmar" class="p-button-outlined"
            (click)="onSave()"></button>
    </ng-template>
</p-dialog>